/*
#  Stylesheet foir mini-resume-project
*/

/* grab these from fonts.google.com  get the import statement for this definition
       Add weigfhts as required.  In this case (100-700)
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700&display=swap');
/*  ---------------------------------------------------------   Colors  */

.bg-color-name-title {
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}

/*  ---------------------------------------------------------   Special paddings/margins/text  */

h1, h2, h3, h4 {
    margin: 0;
    /*  Set all margins to 0  */
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    /*  Off white used throught  */
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

/*  ---------------------------------------------------------   Heading  */

header {
    margin: 0;
    /*  set all margins to 0 for now */
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*  cover entire container */
    min-height: 360px;
    /* apply a mild transition "in-out" (slow) and use various tool kit definitions */
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 28px;
    margin-bottom: 90px;
    color: #fff;
}

/*  ---------------------------------------------------------   menu items  */

.list-inline-item:not(:last-child) {
    margin: 0;
}

/*  Hack to eliminate white and control space in disply  */

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
    /* remove margin from this row to make it aligh  */
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    /* MAKE THE ENTIRE AREA CLICKABLE */
    text-decoration: none;
    /* remove the underline from text  */
    color: #fff;
    height: 120px;
    /* match the parent menuitem for size */
}

.menuitem a i {
    /* Target the font of the icon (in the i tag)  */
    padding-top: 27px;
    /* bump down a bit from top  */
    display: block;
    /* make this have a line opf its own - start and end on a new line */
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    /* has full width of parent div  */
    padding-top: 5px;
    /* bump it down a bit */
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    /* just a tiny bit bigger */
    font-weight: 300;
    /* slightly thinner but elegant  */
    letter-spacing: 2px;
    /* add some space in there between leters */
}

/*  ---------------------------------------------------------   hover.css   */

.hvr-sweep-to-bottom::before {
    /* targets developer class rendering to apply color before rendering */
    background-color: rgba(0, 0, 0, .2);
    height: 120px;
}

/*  ---------------------------------------------------------   Footer   */

footer {
    background-color: #525252;
    /* Dark gray  */
    color: #fafafa;
    min-height: 120px;
    /* default min height - same as header for symmetry  */
    margin: 0;
    /* 0 for full alignment  */
}

.cv-pdf i {
    /* target i item within the cv-pdf class  */
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    /* add a little space left to text  */
    transition: all 0.35s ease-in-out;
    /* you always want to put the transitions in the parent element, rather than the hovered. */
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    /* probably not necessary, but good form  */
    -moz-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    /* select FA Icons in the link!  */
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    /* 50% makes a circle ( icon set 32X32 - square */
    font-size: 13px;
    /* font-size, line height, colors as required */
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;     /* Nice light gray  */
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;     /* single - top/botom/left/right  */ 
}